@import "tailwindcss";

@theme {
  
  --color-brand-light: #59B2FF;
  --color-brand-mid: #3487CF;
  --color-brand-dark: #1D6FB6;

  --color-accent-purple: #B259FF;
  --color-accent-fuschia: #FF59F9;
  --color-accent-pink: #FF598B;
  --color-accent-orange: #FF8B59;
  --color-accent-yellow: #FFCD59;
  --color-accent-lime: #E1FF59;
  --color-accent-green: #59FF91;
  --color-accent-cyan: #59FFF9;
  --color-accent-navy: #6A59FF;

  --color-feedback: #FF5959;

  --color-input-base: #1C1F21;
  --color-input-stroke: #363D40;
  --color-input-placeholder: #869198;

  --color-shape-background: #131516;
  --color-shape-body: #212427;
  --color-shape-button: #2D3136;
  --color-shape-hover: #383D42;
  
  --color-text-body: #C8CDD0;
  --color-text-heading: #F9F9F9;

  --font-baloo-2: var(--font-baloo-2);
  --font-open-sans: var(--font-open-sans);
  --font-leckerli-one: var(--font-leckerli-one); 
}

@layer components{
  .slider{
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    transition: .4s;
    border-radius: 25px;
  
  }

  .slider::before{
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 3.5px;
    transition: .4s;
    border-radius: 50%;
  }

  .input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
  }
}

@layer utilities{

  .scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: var(--color-shape-button);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--color-input-stroke);
    border-radius: 100vh;
    border: 3px solid var(--color-input-placeholder);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--color-shape-hover);
  }
}