@import "tailwindcss";

@theme {
  
  --color-brand-light: #59B2FF;
  --color-brand-mid: #3487CF;
  --color-brand-dark: #1D6FB6;

  --color-accent-purple: #B259FF;
  --color-accent-fuschia: #FF59F9;
  --color-accent-pink: #FF598B;
  --color-accent-orange: #FF8B59;
  --color-accent-yellow: #FFCD59;
  --color-accent-lime: #E1FF59;
  --color-accent-green: #59FF91;
  --color-accent-cyan: #59FFF9;
  --color-accent-navy: #6A59FF;

  --color-feedback: #FF5959;

  --color-input-base: #1C1F21;
  --color-input-stroke: #363D40;
  --color-input-placeholder: #869198;

  --color-shape-background: #131516;
  --color-shape-body: #212427;
  --color-shape-button: #2D3136;
  --color-shape-hover: #383D42;
  
  --color-text-body: #C8CDD0;
  --color-text-heading: #F9F9F9;

  --font-baloo-2: var(--font-baloo-2);
  --font-open-sans: var(--font-open-sans);
  --font-leckerli-one: var(--font-leckerli-one); 
}